html {
  font-size: 18px;
}
@media (max-width: 760px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #242424;
  font-family: YuMincho, "Yu Mincho", serif;
  line-height: 1.8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 250px;
  height: 100vh;
  padding-top: 2.7777777778em;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__title {
  font-size: 1rem;
  width: 192px;
  height: 395px;
  margin: auto;
  margin-bottom: 3.8888888889em;
}
@media (max-width: 1250px) {
  .header {
    display: none;
  }
}

.nav__list {
  list-style: none;
  margin: auto;
  padding: 0;
}
.nav__item {
  font-family: YuMincho, serif;
}
.nav__item--fes {
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 1.7647058824em 0;
  transition: 0.3s;
  line-height: 1;
}
.nav__item--fes:hover {
  background: #ffe1ce;
}
.nav__item--fes:after {
  content: "";
  display: block;
}
.nav__item a {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 0.9444444444rem;
  line-height: 1;
  padding: 1.7647058824em 0;
  color: #242424;
  transition: 0.3s;
}
.nav__item a:hover {
  background: #ffe1ce;
}

.mega-menu {
  width: 250px;
  height: 100vh;
  background: url(../images/naviback.png) no-repeat bottom 15px left/100% #ffe1ce;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.3s;
  padding-top: 3.125em;
}
@media (max-width: 1250px) {
  .mega-menu {
    display: none;
  }
}
.mega-menu.active {
  left: 250px;
}
.mega-menu__title {
  text-orientation: upright;
  writing-mode: vertical-lr;
  letter-spacing: 0.7em;
  font-size: 1.1111111111rem;
  margin: 0 auto 2.5em;
}
.mega-menu__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.mega-menu__item {
  text-align: right;
  border-top: 1px solid #242424;
  transition: 0.3s;
}
.mega-menu__item:last-child {
  border-bottom: 1px solid #242424;
}
.mega-menu__item:hover {
  background: rgba(255, 255, 255, 0.3);
}
.mega-menu__item a {
  color: #242424;
  display: block;
  padding: 1.3888888889em 1.1111111111em 1.3888888889em 0;
  letter-spacing: 0.1em;
  line-height: 1;
}
.mega-menu__item a span {
  display: block;
  margin-bottom: 0.7142857143em;
  font-size: 0.7777777778rem;
  line-height: 1;
}

.main {
  overflow: hidden;
  margin-left: 250px;
}
@media (max-width: 1250px) {
  .main {
    margin-left: 0;
  }
}

.visual {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 79, 79);
}

.introduction {
  background: url(../images/bg_festival.jpg) no-repeat center center/cover;
  color: #fff;
  padding: 8.3333333333em 0;
}
@media (max-width: 1150px) {
  .introduction {
    padding: 4.4444444444em 0;
  }
}
.introduction__textarea {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 20em;
  flex-direction: row-reverse;
}
@media (max-width: 1150px) {
  .introduction__textarea {
    height: auto;
  }
}
.introduction__title {
  writing-mode: vertical-rl;
  font-size: 1.3888888889rem;
  font-weight: normal;
}
@media (max-width: 1150px) {
  .introduction__title {
    writing-mode: horizontal-tb;
  }
}
.introduction__title::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #fff;
  margin-right: 0.6818181818em;
}
@media (max-width: 760px) {
  .introduction__title::after {
    width: 100%;
    height: 1px;
    margin-right: 0;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
  }
}
.introduction__paragraph {
  writing-mode: vertical-rl;
  font-size: 1rem;
  margin-right: 2.7777777778em;
  letter-spacing: 0.1em;
  line-height: 2.3em;
}
@media (max-width: 1150px) {
  .introduction__paragraph {
    writing-mode: horizontal-tb;
    margin: auto;
    margin: auto;
    width: 90%;
    max-width: 1200px;
  }
}

.instagram {
  margin-top: 4.7222222222em;
  margin-bottom: 4.7222222222em;
  padding-top: 2.2222222222em;
  padding-bottom: 2.2222222222em;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: linear-gradient(to right, #fff 40%, #ffe1ce 40%);
}
.instagram__photo-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.instagram__title {
  font-size: 2.2222222222rem;
  font-family: "tbudrgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(-10%);
  line-height: 1;
  margin-bottom: 0.125em;
}
.instagram__tag {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(15%);
  letter-spacing: 0.1em;
  margin-bottom: 0.8333333333em;
}
.instagram__tag a {
  color: #242424;
}
.instagram__tag a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #242424;
}
.instagram__photo {
  width: 20%;
}

.detail__content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 760px) {
  .detail__content {
    flex-direction: column-reverse;
  }
}
.detail__content--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 760px) {
  .detail__content--reverse {
    flex-direction: column-reverse;
  }
}
.detail__textarea {
  padding: 3.3333333333em 5.5555555556em 3.3333333333em 3.3333333333em;
  width: 70%;
  background: #cd5e3c;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 760px) {
  .detail__textarea {
    width: 100%;
  }
}
.detail__textarea--red {
  background: #e9a62e;
}
.detail__image {
  width: 30%;
}
@media (max-width: 760px) {
  .detail__image {
    width: 100%;
    height: 550px;
  }
}
.detail__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail__title {
  font-size: 1.6666666667rem;
  margin-bottom: 1.3333333333em;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}
.detail__title-left {
  margin-right: 0.3333333333em;
}
.detail__title-right {
  padding-left: 0.3333333333em;
  border-left: 1px solid #fff;
}
.detail__paragraph {
  letter-spacing: 0.13em;
  margin-bottom: 1.6666666667em;
}
.detail__paragraph::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 3.3333333333em;
  height: 1px;
  width: 50%;
  background: #fff;
}
.detail__date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2222222222rem;
  font-family: "shippori-mincho", sans-serif;
  margin: 0 auto 0.8333333333em;
}
.detail__link {
  margin-left: auto;
}
.detail__link a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  color: #fff;
  font-size: 0.7777777778rem;
}
.detail__link a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 0.2857142857em;
  background: #fff;
  transition: 0.3s;
}
.detail__link a:hover::after {
  width: 105%;
}
.detail__link a:hover .arrow svg {
  transform: translateX(8px);
  transition: 0.3s;
}
.detail__arrow svg {
  transition: 0.3s;
  transform: none;
}

.history {
  padding: 5.5555555556em 0;
}
@media (max-width: 760px) {
  .history {
    padding-bottom: 2.7777777778em;
  }
}
.history__inner {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  background: url(../images/tanzaku.png) no-repeat top 0/35% auto;
}
.history__textarea {
  width: 47.572815534%;
}
@media (max-width: 760px) {
  .history__textarea {
    width: 100%;
  }
}
.history__title {
  margin-bottom: 1.6666666667em;
}
.history__paragraph {
  margin-bottom: 3.3333333333em;
}
.history__link {
  margin-left: auto;
}
.history__link a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  color: #242424;
  font-size: 0.7777777778rem;
}
.history__link a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 0.2857142857em;
  background: #242424;
  transition: 0.3s;
}
.history__link a:hover::after {
  width: 105%;
}
.history__link a:hover .arrow svg {
  transform: translateX(8px);
  transition: 0.3s;
}
.history__arrow svg {
  transition: 0.3s;
  transform: none;
}

.think {
  padding-top: 7.4444444444em;
  padding-bottom: 10.2222222222em;
}
@media (max-width: 760px) {
  .think {
    padding-bottom: 0;
  }
}
.think__content {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 760px) {
  .think__content {
    justify-content: flex-start;
  }
}
.think__image {
  width: 29.1262135922%;
}
@media (max-width: 760px) {
  .think__image {
    margin-bottom: 1.7777777778em;
  }
}
.think__textarea {
  width: 56.3106796117%;
  margin-left: 1.6666666667em;
}
@media (max-width: 760px) {
  .think__textarea {
    width: 100%;
    padding-right: 0;
    margin-left: 0;
  }
}
.think__title {
  font-weight: normal;
  font-family: "shippori-mincho", sans-serif;
  font-size: 1.6666666667rem;
  margin-bottom: 2em;
}
@media (max-width: 760px) {
  .think__title {
    position: absolute;
    top: 80px;
    right: 0;
  }
}
.think__list {
  flex: 1;
  padding-left: 0;
  margin: 0;
}
@media (max-width: 760px) {
  .think__list {
    padding-bottom: 3.3333333333em;
  }
}
.think__item {
  padding-bottom: 1.6666666667em;
  margin-bottom: 1.6666666667em;
  border-bottom: 1px solid #FF9553;
}

.questions {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 6.6666666667em;
}
@media (max-width: 760px) {
  .questions {
    display: block;
  }
}
.questions__title {
  text-align: center;
  padding: 2.2222222222em 0.8333333333em 0;
  width: 20%;
  border: 1px solid #707070;
  border-left: transparent;
  font-family: "shippori-mincho", sans-serif;
  font-size: 1.6666666667rem;
  font-weight: normal;
  letter-spacing: 0.13em;
}
@media (max-width: 760px) {
  .questions__title {
    width: 100%;
    border-top: transparent;
    border-right: transparent;
    padding: 1.9444444444em 0;
  }
}
.questions__list {
  width: 80%;
  padding: 0;
  margin: 0;
}
@media (max-width: 760px) {
  .questions__list {
    width: 100%;
  }
}
.questions__item {
  padding: 1.6666666667em 3.3333333333em 1.6666666667em 1.6666666667em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.2s;
  line-height: 1;
  border-bottom: 1px solid #707070;
}
.questions__item:first-child {
  border-top: 1px solid #707070;
}
@media (max-width: 760px) {
  .questions__item:first-child {
    border-top: transparent;
    align-items: center;
  }
}
.questions__item:hover {
  cursor: pointer;
  background: #FFE1CE;
}
.questions__item.active {
  background: #FFE1CE;
}
.questions__q span {
  margin-right: 1.1111111111em;
}
.questions__a {
  height: 0;
  opacity: 0;
  transform: translateY(-1.25em);
  transition: 0.3s;
}
.questions__a span {
  margin-right: 1.1111111111em;
}
.questions__a.active {
  height: auto;
  transform: none;
  opacity: 1;
  margin-top: 1.6666666667em;
}
.questions__button {
  width: 25px;
}

.city__title {
  text-align: center;
  padding: 2.2222222222em 0;
  font-size: 1.9444444444rem;
  letter-spacing: 0.2em;
  font-weight: normal;
  font-family: "shippori-mincho", sans-serif;
  background: url(../images/city-title.png) no-repeat center center/cover;
  margin-bottom: 2.2222222222em;
}
@media (max-width: 760px) {
  .city__title {
    padding: 1.1111111111em 0;
  }
}
.city__list {
  padding: 0 1.6666666667em;
  margin: 0;
}
.city__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2.7777777778em;
}
@media (max-width: 760px) {
  .city__item {
    display: block;
  }
}
.city__item--reverse {
  flex-direction: row-reverse;
}
.city__item--reverse .city__images {
  margin-left: 1.1111111111em;
  margin-right: 0;
}
.city__item--reverse .city__textarea {
  margin-right: 1.1111111111em;
  margin-left: 0;
}
.city__images {
  width: 44.2718446602%;
  aspect-ratio: 456/385;
  position: relative;
  margin-right: 1.6666666667em;
}
@media (max-width: 760px) {
  .city__images {
    width: 80%;
    margin: auto;
    margin-bottom: 1.1111111111em;
  }
}
.city__tower-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.7368421053%;
}
.city__tower-back {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 47.5877192982%;
}
.city__textarea {
  width: 45.2427184466%;
  margin-left: 1.6666666667em;
}
@media (max-width: 760px) {
  .city__textarea {
    width: 100%;
  }
}
.city__sub-title {
  letter-spacing: 0.1em;
  font-size: 1.3888888889rem;
  margin-bottom: 0.72em;
}
.city__text {
  letter-spacing: 0.1em;
  line-height: 1.7;
}
.city__cafe-front {
  position: absolute;
  top: 0;
  right: 0;
  width: 69.7368421053%;
}
.city__cafe-back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 47.5877192982%;
}

.dvisual {
  width: 100%;
  height: 50vh;
  background: url(../images/IMGP9185.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-right: 5em;
  padding-top: 3.6111111111em;
}
@media (max-width: 760px) {
  .dvisual {
    height: 450px;
    padding-right: 1.3888888889em;
    padding-top: 8.3333333333em;
  }
}
.dvisual__title {
  color: #fff;
  text-align: right;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.2em;
}
@media (max-width: 760px) {
  .dvisual__title {
    font-size: 30px;
  }
}
.dvisual__text {
  color: #fff;
  text-align: right;
  font-size: 20px;
  padding-top: 2.2222222222em;
  letter-spacing: 0.2em;
}
@media (max-width: 760px) {
  .dvisual__text {
    font-size: 18px;
  }
}
.dvisual__cover {
  margin-top: 11.1111111111em;
  padding-right: 1.6944444444em;
  border-right: solid 3px #fff;
}

.dhistory {
  padding-left: 3.3333333333em;
  padding-right: 3.3333333333em;
  margin-bottom: 5.5555555556em;
}
@media (max-width: 760px) {
  .dhistory {
    padding-left: 1.1111111111em;
    padding-right: 1.1111111111em;
  }
}
.dhistory__item-text {
  width: 65.43%;
}
@media (max-width: 760px) {
  .dhistory__item-text {
    margin-right: 0;
    width: 100%;
  }
}
.dhistory__item-img {
  width: 26.81%;
}
@media (max-width: 760px) {
  .dhistory__item-img {
    width: 100%;
    height: auto;
    padding-left: 3.3333333333em;
    padding-right: 3.3333333333em;
    margin-top: 2.2222222222em;
  }
}
.dhistory__article {
  display: flex;
  justify-content: space-between;
  margin-top: 5.5555555556em;
  letter-spacing: 0.1em;
}
@media (max-width: 760px) {
  .dhistory__article {
    display: block;
  }
}
.dhistory__article-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 5.5555555556em;
}
@media (max-width: 760px) {
  .dhistory__article-reverse {
    display: block;
  }
}
.dhistory__dt {
  font-size: 30px;
  margin-top: 1.6666666667em;
  letter-spacing: 0.1em;
}
@media (max-width: 760px) {
  .dhistory__dt {
    font-size: 20px;
  }
}
.dhistory__dd {
  margin-top: 1.6666666667em;
  letter-spacing: 0.1em;
}
.dhistory__dl-text {
  width: 80.8%;
}
@media (max-width: 760px) {
  .dhistory__dl-text {
    width: 100%;
  }
}
.dhistory__title-all {
  display: flex;
  font-weight: normal;
  line-height: 1.33;
}
.dhistory__title {
  font-size: 50px;
  margin-right: 0.5555555556em;
  font-weight: normal;
}
@media (max-width: 760px) {
  .dhistory__title {
    font-size: 35px;
  }
}
.dhistory__title-sub {
  font-size: 25px;
  padding-top: 1.5em;
}
@media (max-width: 760px) {
  .dhistory__title-sub {
    font-size: 18px;
    padding-top: 1.1111111111em;
  }
}
.dhistory__img-text {
  text-align: center;
  margin-top: 1.1111111111em;
}
@media (max-width: 760px) {
  .dhistory__img-text {
    width: 89.74%;
  }
}

.footer {
  background: #FF9553;
  color: #fff;
  margin-top: 5.5555555556em;
  margin-left: 250px;
}
@media (max-width: 1250px) {
  .footer {
    margin-left: 0;
  }
}
.footer__title {
  padding-top: 2.7777777778em;
  font-size: 20px;
  padding-bottom: 0.5833333333em;
  font-weight: normal;
  width: 160px;
  margin: 0 auto;
  border-bottom: 3px double #fff;
}
.footer__flex {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.7777777778em;
  padding-top: 4.4444444444em;
}
@media (max-width: 760px) {
  .footer__flex {
    display: block;
    width: 100%;
  }
}
.footer__operation {
  width: 30%;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 760px) {
  .footer__operation {
    width: 100%;
    margin: 0;
  }
}
.footer__text {
  margin-top: 1.6944444444em;
}
.footer__copy {
  text-align: center;
  font-size: 14px;
  margin-top: 5.5555555556em;
  padding-bottom: 2.7777777778em;
}
.footer__dl {
  margin-top: 7.7777777778em;
  letter-spacing: 0.2em;
}
@media (max-width: 760px) {
  .footer__dl {
    margin-top: 2.2222222222em;
    text-align: center;
  }
}
.footer__dd {
  margin-top: 1.1111111111em;
}

.fNav {
  width: 30%;
}
@media (max-width: 760px) {
  .fNav {
    width: 100%;
  }
}
.fNav__navigation {
  padding-top: 2.7777777778em;
  margin: auto;
}
.fNav__list {
  text-orientation: upright;
  writing-mode: vertical-rl;
  list-style: none;
  padding-top: 0;
  margin: auto;
}
@media (max-width: 760px) {
  .fNav__list {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    padding-left: 0;
  }
}
.fNav__item {
  margin-left: 1.6666666667em;
  margin-right: 1.6666666667em;
  font-weight: normal;
}
.fNav__item a {
  color: #fff;
  font-size: 0.7777777778rem;
}
@media (max-width: 760px) {
  .fNav__item {
    margin: 0;
    border-bottom: 1px solid #fff;
    transition: 0.3s;
  }
  .fNav__item:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  .fNav__item:first-child {
    border-top: 1px solid #fff;
  }
  .fNav__item a {
    display: block;
    padding: 1.0714285714em 1.7857142857em;
    background: url(../images/yajirusi.png) no-repeat right 25px center/11px;
  }
}
.fNav__insta {
  width: 30px;
  margin: auto;
  padding-top: 2.5em;
}
/*# sourceMappingURL=style.css.map */